    <div class="container">
      <h1 class="text-center">Tell us about your conservation interests</h1>
    </div>
    <div class="container">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Location</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Your Role</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="container">
          {{#categories}}
            <div class="d-inline-block p-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title">{{category}}</div>
                  {{#concerns}}
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="{{concern}}">
                      <label class="form-check-label" for="{{concern}}">{{concern}}</label>
                    </div>
                  {{/concerns}}
                </div>
              </div>
            </div>
          {{/categories}}
        </div>
        <button type="submit" class="btn btn-primary">Explore conservation practices</button>
      </form>
    </div>

